.linePlotContainer {
  width: 95%;
}

.Line {
  height: 500px;
}

.Spinner {
  position: absolute;
  top: 20%;
  left: 50%;
}

.tweetCount {
  display: table;
  letter-spacing: 2.8px;
  color: #3c92c9;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1em;
  background: white;
  text-align: center;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

.pieChart {
  font-family: "Muli", sans-serif;
  padding: 1em;
  text-align: center;
  color: #fff;
  max-width: 768px;
  display: block;
  margin: auto;
}

.pieChart h4 {
  margin-bottom: 0.5em;
}

.tweetCount h1 {
  font-size: 72px;
}

.tweetCount .middle-align {
  vertical-align: middle;
  display: table-cell;
}

@media (max-width: 2560px) {
  .tweetCount {
    height: 249px;
  }
}
@media (max-width: 14440px) {
  .tweetCount {
    height: 200px;
  }
}

@media (max-width: 1024px) {
  .tweetCount {
    height: 177px;
  }
}

@media (max-width: 768px) {
  .tweetCount {
    height: 162px;
  }
}

@media (max-width: 650px) {
  .tweetCount {
    height: 156px;
  }
}
