.result-wrapper {
  height: 100%;
  background: url("/bg.png") no-repeat center center fixed;
}

body {
  overflow-y: scroll;
}

.results-page {
  background: white;
  height: 100%;
}

.results-header {
  background: url("/bg.png") no-repeat center center fixed;
}

.linePlotContainer {
  width: 95%;
}

.Line {
  height: 500px;
}

.Spinner {
  position: absolute;
  top: 20%;
  left: 50%;
}

.tweetCount {
  display: table;
  letter-spacing: 2.8px;
  color: #3c92c9;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1em;
  background: white;
  text-align: center;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

.pieCharts {
  background: white;
  display: block;
  margin: auto;
}

.pieChart {
  background: url("/bg.png") no-repeat center center fixed;
  font-family: "Muli", sans-serif;
  padding: 1em;
  text-align: center;
  color: #fff;
}

.pieChart h4 {
  margin-bottom: 0.5em;
}

.tweetCount h1 {
  font-size: 72px;
}

.tweetCount .middle-align {
  vertical-align: middle;
  display: table-cell;
}

@media (max-width: 2560px) {
  .tweetCount {
    height: 249px;
  }

  .pieChart {
    display: inline-block;
    width: 49%;
  }

  .pieCharts {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
}
@media (max-width: 14440px) {
  .tweetCount {
    height: 200px;
  }

  .pieChart {
    display: inline-block;
    width: 49%;
  }

  .pieCharts {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
}

@media (max-width: 1024px) {
  .tweetCount {
    height: 177px;
  }

  .pieChart {
    display: inline-block;
    width: 49%;
  }

  .pieCharts {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
}

@media (max-width: 768px) {
  .tweetCount {
    height: 162px;
  }

  .pieChart {
    display: inline-block;
    width: 49%;
  }

  .pieCharts {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
}

@media (max-width: 650px) {
  .tweetCount {
    height: 156px;
  }

  .pieChart {
    margin-top: 1em;
    width: 100%;
  }

  .pieCharts {
    display: block;
  }
}
