.cnav .hashtag {
  margin: 0;
  letter-spacing: 0;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 30px;
}

.cnav a {
  color: white;
  font-size: 12px;
  box-sizing: border-box;
}

.back-btn {
  margin-top: 12px;
}
