.main-wrapper {
  background: url("/bg.png") no-repeat center center fixed;
  height: 100%;
}

html {
  overflow-y: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.form-control:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.twitter-logo {
  display: inline-block;
  margin: auto;
  width: 31.8%;
}
.twitter-logo img {
  margin-top: 1em;
}

.wrapper {
  text-align: center;
  margin: 1em auto;
  display: block;
  width: 75%;
}

.text-block {
  color: #fff;
  font-weight: "300";
}

.input-wrapper {
  position: relative;
  background: #fff;
  border: 0px solid #ccc;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(134, 134, 134, 0.5);
}

.input-wrapper input {
  border: 0;
  background: transparent;
  font-size: 14px;
}

.input-wrapper .search {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: -5px;
  width: 42px;
  height: 42px;
  background: #42b4fc url("/search.png") no-repeat center center;
  background-size: 50%;
  border: 1px solid #42b4fc;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(134, 134, 134, 0.5);
  cursor: pointer;
}

.wrapper h1 {
  text-align: center;
  font-size: 1.75em;
}

.wrapper p {
  font-size: 1em;
}

@media only screen and (max-width: 350px) {
  .input-wrapper {
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .input-wrapper {
    height: 50px;
  }

  .text-block {
    margin: 2.5em 0;
  }

  .input-wrapper input {
    font-size: 16px;
    height: 48px;
    margin-left: 8px;
  }

  .input-wrapper .search {
    width: 51px;
    height: 51px;
    background-size: 50%;
  }
  .main-wrapper {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .twitter-logo {
    width: 30%;
    margin: 2em 4em;
  }

  .wrapper h1 {
    font-size: 2em;
  }

  .wrapper {
    position: absolute;
    top: 3em;
    height: 100%;
    line-height: 5em;
    width: auto;
    display: inline-block;
  }

  .input-wrapper input {
    font-size: 18px;
    height: 51px;
    margin-left: 10px;
  }

  .input-wrapper .search {
    width: 55px;
    height: 55px;
    background-size: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper h1 {
    font-size: 3em;
  }

  .wrapper p {
    font-size: 1.5em;
  }
}
